name: Quarto Publish

on:
    workflow_dispatch:
    push:
        branches: main
  
jobs:
    build-deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
        -   name: Check out repository
            uses: actions/checkout@v4

        -   name: Set up Quarto
            uses: quarto-dev/quarto-actions/setup@v2

        -   name: Set up Python
            uses: actions/setup-python@v4
            with:
                python-version: '3.11'
                cache: 'pip'
        
        -   name: Install dependencies
            run: python3 -m pip install jupyter matplotlib numba numbalsoda simbio[io]
  
        -   name: Render and Publish
            uses: quarto-dev/quarto-actions/publish@v2
            with:
                path: article.qmd
                target: gh-pages
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}   